@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg-card: #ffffff;
  --color-bg: #008BFE;
  --color-bg-light: #CCE8FF;
  --font: "Roboto", sans-serif;
}

.html, body {
  box-sizing: border-box;
}

.body {
    font-family: var(--font);
}

button {
  background: none;
  border: none;
  padding: 0;
}